    @media (max-width:960px) {
        .line {
            max-width: 100%;
        }
    }
    
    @media (max-width:900px) {
        .header__menu-btn {
            display: block;
        }
        .header__menu>ul {
            display: none;
            position: absolute;
            z-index: 2;
            top: 85px;
            left: 0;
            right: 0;
            width: 100%;
            background-color: #fff;
        }
        .header__menu li {
            display: block;
            text-align: center;
        }
        .header__menu li+li {
            margin-left: 0;
        }
        .header__drop-down.drop-down+.header__link-blog {
            margin-left: 0;
        }
        .header__drop-down.drop-down+.header__drop-down.drop-down {
            margin-left: 0;
            margin-right: 0;
        }
        .header__menu a {
            padding: 12px 0 12px 11px;
            font-weight: 400px;
            display: block;
            text-transform: none;
        }
        .header__menu li+li a {
            border-top: 1px solid #e7e7e7;
        }
        .header__drop-down.drop-down:hover .drop-down__list {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all .3s;
        }
        .drop-down__list {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all .3s;
            position: static;
            width: 100%;
            border-bottom: none;
            padding: 0;
        }
        .header__drop-down.drop-down .drop-down__list.active {
            height: auto;
            overflow: visible;
            opacity: 1;
            transition: all .3s;
        }
        .header__drop-down.drop-down:hover {
            color: #000;
            border-top: 1px solid #e7e7e7;
            background-color: #fff;
            transition: all .0s;
        }
        .header__drop-down .active::after {
            transform: rotate(180deg);
        }
        .item {
            margin-left: 20px;
        }
    }
    
    @media (max-width: 790px) {
        .footer__inner {
            flex-wrap: wrap;
        }
        .items__inner {
            flex-wrap: wrap;
        }
        .item {
            margin-bottom: 20px;
            margin-left: 20px;
        }
        .check {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    @media (max-width: 780px) {
        .footer_item-content {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    
    @media (max-width: 640px) {
        .item {
            width: 100%;
            margin-bottom: 20px;
        }
    }